@charset "UTF-8";
.foot-style, .logo-menu, .horizontal {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

form, .formulario, .nosotros {
  display: flex;
  flex-direction: column;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: white;
  background-color: #231942;
  text-align: center;
  margin: 5px 0;
  margin: 0 1rem;
}

h1 {
  color: white;
  background-color: #231942;
  text-align: center;
  margin: 5px 0;
  background-color: #9F86C0;
}

h2 {
  color: white;
  background-color: #231942;
  text-align: center;
  margin: 5px 0;
  background-color: #5E548E;
}

h3 {
  color: #E0B1CB;
  font-size: large;
}

a {
  text-decoration: none;
  font-size: 20px;
  color: white;
  background-color: #231942;
}
a:hover {
  background-color: #9F86C0;
}

.horizontal {
  list-style-type: none;
}

.letra {
  color: white;
  background-color: #231942;
  text-align: center;
  margin: 5px 0;
  font-size: 20px;
}

.imagenes {
  display: grid;
  justify-items: center;
  max-width: 100%;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  gap: 10px;
}
.imagenes img {
  height: 100%;
  width: 100%;
  padding: 5px;
  object-fit: cover;
}

.uno, .dos, .tres, .cuatro, .cinco, .seis {
  display: none;
}

main p {
  color: white;
  background-color: #231942;
  text-align: center;
  margin: 5px 0;
  font-size: 20px;
}

.p-compra {
  color: white;
  background-color: #231942;
  text-align: center;
  margin: 5px 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  margin: 5px 15px;
  padding: 5px 15px;
  text-align: justify;
}

/* *****************Estilos de Nosotros************* */
.nosotros {
  margin: 0 10px;
  align-items: center;
}

main section img {
  height: 100%;
  width: 100%;
  padding: 5px;
  object-fit: cover;
  border-radius: 30px;
}

.size {
  height: 50px;
  width: 50px;
}

.delineado {
  border-style: dashed;
  margin: 20px;
  padding: 10px;
}

.p-nos {
  font-family: EduSABeginner, "Times New Roman" serif;
  font-size: 30px;
  color: #E0B1CB;
  margin: 0 50px;
}

/* *******************Estilos página de Registro********************* */
.formulario {
  align-items: center;
  margin: 10px 0;
}

form {
  height: 400px;
  width: 350px;
  border: solid 5px #E0B1CB;
  padding: 25px;
  font-size: large;
}

label, input {
  padding-left: 5px;
  margin-bottom: 5px;
  height: 30px;
}

.envia {
  margin: 20px 100px 0 100px;
  height: 30px;
}

.compra {
  display: none;
}

/* ******************* FOOTER ********************** */
.foot-style {
  justify-content: space-around;
}

.p-foot {
  font-size: 16px;
  margin: 10px;
}

footer {
  background-color: black;
}

/*  -----------------------------------Media Queries----------------- */
/* ***********************estilos para Tablet************** */
@media screen and (min-width: 600px) {
  .imagenes {
    display: grid;
    justify-items: center;
    max-width: 100%;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
  }
  .registro {
    display: flex;
    margin: 0 0 20px 0;
  }
  .formulario {
    margin: 0 10px;
    padding: 1px;
  }
}
/* *********************Estilos para laptop-escritorio***************** */
@media screen and (min-width: 1024px) {
  .imagenes {
    display: grid;
    justify-items: center;
    max-width: 100%;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .uno, .dos, .tres, .cuatro, .cinco, .seis {
    display: block;
  }
  .nosotros {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    margin: 0 10px;
    align-items: center;
  }
  .registro {
    display: flex;
    margin: 0 0 20px 0;
  }
  /* adaptación página registro */
  .compra {
    display: block;
    align-self: self-end;
    margin: 0 25px;
  }
  .descripcion {
    display: flex;
    justify-content: stretch;
    margin: 5px;
  }
  .descripcion div {
    width: 33%;
    margin: 5px;
  }
  .size {
    height: 150px;
    width: 150px;
  }
  .afoot {
    text-decoration: none;
    font-size: 20px;
    background-color: #231942;
  }
  .afoot:hover {
    background-color: #231942;
  }
}

/*# sourceMappingURL=style.css.map */
